Source: ros-fuerte-object-recognition-linemod
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-fuerte-catkin, ros-fuerte-ecto, ros-fuerte-object-recognition-core, ros-fuerte-object-recognition-renderer, ros-fuerte-opencv2
Homepage: https://github.com/wg-perception/linemod
Standards-Version: 3.9.2

Package: ros-fuerte-object-recognition-linemod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-fuerte-ecto, ros-fuerte-object-recognition-core, ros-fuerte-object-recognition-renderer, ros-fuerte-opencv2
Description: An object recognition pipeline that uses LINE-MOD from OpenCV
