Source: ros-groovy-object-recognition-linemod
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-ecto,ros-groovy-catkin,ros-groovy-opencv2,ros-groovy-object-recognition-core
Homepage: https://github.com/wg-perception/linemod
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-linemod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-ecto,ros-groovy-opencv2,ros-groovy-object-recognition-core
Description: An object recognition pipeline that uses LINE-MOD from OpenCV

